In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
whd = pd.read_csv("data/whr_data.csv")
edudata = pd.read_csv("data/edu_d.csv")

In [120]:
whd.head()

,Unnamed: 0,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,Country Code
0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,2014,CHE
1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,2014,ISL
2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,2014,DNK
3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,2014,NOR
4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,2014,CAN

In [121]:
whd = whd.rename(columns = {'Country Code': 'Country_code'})

In [122]:
whd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1084 non-null   int64
 1   Country                    1084 non-null   object
 2   Happiness Rank             1084 non-null   int64
 3   Happiness Score            1084 non-null   float64
 4   Economy (GDP per Capita)   1084 non-null   float64
 5   Health (Life Expectancy)   1084 non-null   float64
 6   Freedom                    1084 non-null   float64
 7   Generosity                 1084 non-null   float64
 8   Perceptions of corruption  1083 non-null   float64
 9   Year                       1084 non-null   int64
 10  Country_code               1084 non-null   object
dtypes: float64(6), int64(3), object(2)
memory usage: 93.3+ KB

In [123]:
edudata = edudata.drop(['Time Code'],axis =1)
edudata.head()

,Time,Country Name,Country Code,Trained teachers in upper secondary education (% of total teachers) [SE.SEC.TCAQ.UP.ZS],"Trained teachers in upper secondary education, female (% of female teachers) [SE.SEC.TCAQ.UP.FE.ZS]","Trained teachers in primary education, female (% of female teachers) [SE.PRM.TCAQ.FE.ZS]",Trained teachers in primary education (% of total teachers) [SE.PRM.TCAQ.ZS],"Literacy rate, youth (ages 15-24), gender parity index (GPI) [SE.ADT.1524.LT.FM.ZS]","School enrollment, primary (gross), gender parity index (GPI) [SE.ENR.PRIM.FM.ZS]","School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]"
0,2014,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,0.69825,0.55640
1,2014,Albania,ALB,NaN,NaN,NaN,NaN,NaN,1.03682,0.94445
2,2014,Algeria,DZA,NaN,NaN,100.0,100.0,NaN,0.95096,NaN
3,2014,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,Andorra,AND,NaN,NaN,100.0,100.0,NaN,NaN,NaN

In [124]:
edudata.columns

Index(['Time', 'Country Name', 'Country Code',
       'Trained teachers in upper secondary education (% of total teachers) [SE.SEC.TCAQ.UP.ZS]',
       'Trained teachers in upper secondary education, female (% of female teachers) [SE.SEC.TCAQ.UP.FE.ZS]',
       'Trained teachers in primary education, female (% of female teachers) [SE.PRM.TCAQ.FE.ZS]',
       'Trained teachers in primary education (% of total teachers) [SE.PRM.TCAQ.ZS]',
       'Literacy rate, youth (ages 15-24), gender parity index (GPI) [SE.ADT.1524.LT.FM.ZS]',
       'School enrollment, primary (gross), gender parity index (GPI) [SE.ENR.PRIM.FM.ZS]',
       'School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]'],
      dtype='object')

In [125]:
edudata.columns = ['Year','Country','Country_code','Trained teachers in upper secondary education (% of total teachers)','Trained teachers in upper secondary education, female (% of female teachers)','Trained teachers in primary education, female (% of female teachers)','Trained teachers in primary education (% of total teachers)','Literacy rate, youth (ages 15-24), gender parity index (GPI)','School enrollment, primary (gross), gender parity index (GPI)','School enrollment, secondary (gross), gender parity index (GPI)']

In [126]:
edudata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 10 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Year                                                                          1850 non-null   object
 1   Country                                                                       1848 non-null   object
 2   Country_code                                                                  1848 non-null   object
 3   Trained teachers in upper secondary education (% of total teachers)           273 non-null    float64
 4   Trained teachers in upper secondary education, female (% of female teachers)  260 non-null    float64
 5   Trained teachers in primary education, female (% of female teachers)          586 non-null    float64
 6   Trained teachers in primary education (% of total teachers)                   608 non-null    float64
 7   Literacy rate, youth (ages 15-24), gender parity index (GPI)                  461 non-null    float64
 8   School enrollment, primary (gross), gender parity index (GPI)                 1124 non-null   float64
 9   School enrollment, secondary (gross), gender parity index (GPI)               983 non-null    float64
dtypes: float64(7), object(3)
memory usage: 144.9+ KB

In [127]:
# Year and country contained NaN
edudata = edudata[~edudata['Year'].isnull()]
edudata = edudata[~edudata['Country'].isnull()]
edudata = edudata[~edudata['Country'].isnull()]
edudata.Year = edudata.Year.astype(int)

In [128]:
wedu = pd.merge(whd, edudata, how = 'inner', on = ['Country_code','Year'])

In [129]:
wedu.head()

,Unnamed: 0,Country_x,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,Country_code,Country_y,Trained teachers in upper secondary education (% of total teachers),"Trained teachers in upper secondary education, female (% of female teachers)","Trained teachers in primary education, female (% of female teachers)",Trained teachers in primary education (% of total teachers),"Literacy rate, youth (ages 15-24), gender parity index (GPI)","School enrollment, primary (gross), gender parity index (GPI)","School enrollment, secondary (gross), gender parity index (GPI)"
0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,2014,CHE,Switzerland,NaN,NaN,NaN,NaN,NaN,1.00075,NaN
1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,2014,ISL,Iceland,NaN,NaN,NaN,NaN,NaN,0.99037,1.03503
2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,2014,DNK,Denmark,NaN,NaN,NaN,NaN,NaN,0.98860,1.04287
3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,2014,NOR,Norway,NaN,NaN,NaN,NaN,NaN,0.99927,0.96693
4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,2014,CAN,Canada,NaN,NaN,NaN,NaN,NaN,1.01199,1.00568

In [131]:
wedu[wedu.Country_x != wedu.Country_y]

,Unnamed: 0,Country_x,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,Country_code,Country_y,Trained teachers in upper secondary education (% of total teachers),"Trained teachers in upper secondary education, female (% of female teachers)","Trained teachers in primary education, female (% of female teachers)",Trained teachers in primary education (% of total teachers),"Literacy rate, youth (ages 15-24), gender parity index (GPI)","School enrollment, primary (gross), gender parity index (GPI)","School enrollment, secondary (gross), gender parity index (GPI)"
22,22,Venezuela,23,6.810,1.04424,0.72052,0.42908,0.05841,0.11069,2014,VEN,"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,0.98252,1.07730
43,44,Slovakia,45,5.995,1.16891,0.78902,0.31751,0.16893,0.03431,2014,SVK,Slovak Republic,NaN,NaN,NaN,NaN,NaN,0.99045,1.01145
45,46,South Korea,47,5.984,1.24461,0.96538,0.33208,0.18557,0.07857,2014,KOR,"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,0.99891,0.99512
64,65,North Cyprus,66,5.695,1.20806,0.92356,0.49027,0.26169,0.14280,2014,CYP,Cyprus,NaN,NaN,NaN,NaN,NaN,1.00852,1.00077
69,71,Hong Kong,72,5.474,1.38604,1.01328,0.59608,0.39478,0.37124,2014,HKG,"Hong Kong SAR, China",NaN,NaN,96.751572,96.411331,NaN,1.00891,0.98321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,1052,Iran,118,4.721,9.58400,66.30000,0.60800,0.21800,0.71400,2020,IRN,"Iran, Islamic Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1043,1059,Palestinian Territories,125,4.517,8.48500,62.25000,0.65300,-0.16300,0.82100,2020,PSE,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,1064,Swaziland,130,4.308,9.06500,50.83300,0.64700,-0.18500,0.70800,2020,SWZ,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,1066,Egypt,132,4.283,9.36700,61.99800,0.74900,-0.18200,0.79500,2020,EGY,"Egypt, Arab Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,1075,Yemen,141,3.658,7.57800,57.12200,0.60200,-0.14700,0.80000,2020,YEM,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
wedu = wedu.rename(columns = {'Country_x': 'Country'})
wedu = wedu.drop(['Country_y'],axis =1)
wedu = wedu.drop(['Unnamed: 0'],axis =1)

In [137]:
wedu.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,Country_code,Trained teachers in upper secondary education (% of total teachers),"Trained teachers in upper secondary education, female (% of female teachers)","Trained teachers in primary education, female (% of female teachers)",Trained teachers in primary education (% of total teachers),"Literacy rate, youth (ages 15-24), gender parity index (GPI)","School enrollment, primary (gross), gender parity index (GPI)","School enrollment, secondary (gross), gender parity index (GPI)"
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,2014,CHE,NaN,NaN,NaN,NaN,NaN,1.00075,NaN
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,2014,ISL,NaN,NaN,NaN,NaN,NaN,0.99037,1.03503
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,2014,DNK,NaN,NaN,NaN,NaN,NaN,0.98860,1.04287
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,2014,NOR,NaN,NaN,NaN,NaN,NaN,0.99927,0.96693
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,2014,CAN,NaN,NaN,NaN,NaN,NaN,1.01199,1.00568

In [142]:
sum(wedu['Trained teachers in upper secondary education (% of total teachers)'].notna())

142

In [160]:
for colnam in wedu.columns[10:]:
    print(colnam)
    print('Percentage that is not nan: ',sum(wedu[colnam].notna())/len(wedu))
    print('----'*3)

Trained teachers in upper secondary education (% of total teachers)
Percentage that is not nan:  0.13295880149812733
------------
Trained teachers in upper secondary education, female (% of female teachers)
Percentage that is not nan:  0.1254681647940075
------------
Trained teachers in primary education, female (% of female teachers)
Percentage that is not nan:  0.26591760299625467
------------
Trained teachers in primary education (% of total teachers)
Percentage that is not nan:  0.2799625468164794
------------
Literacy rate, youth (ages 15-24), gender parity index (GPI)
Percentage that is not nan:  0.1956928838951311
------------
School enrollment, primary (gross), gender parity index (GPI)
Percentage that is not nan:  0.6301498127340824
------------
School enrollment, secondary (gross), gender parity index (GPI)
Percentage that is not nan:  0.5411985018726592
------------

In [173]:
print(list(wedu.columns[:10]).append('School enrollment, primary (gross), gender parity index (GPI)'))

None

In [184]:
wedu.corr()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,Trained teachers in upper secondary education (% of total teachers),"Trained teachers in upper secondary education, female (% of female teachers)","Trained teachers in primary education, female (% of female teachers)",Trained teachers in primary education (% of total teachers),"Literacy rate, youth (ages 15-24), gender parity index (GPI)","School enrollment, primary (gross), gender parity index (GPI)","School enrollment, secondary (gross), gender parity index (GPI)"
Happiness Rank,1.000000,-0.989957,-0.157007,-0.062705,-0.433502,-0.055910,-0.131514,-0.023097,-0.418926,-0.475621,-0.359136,-0.381014,-0.417815,-0.247963,-0.327305
Happiness Score,-0.989957,1.000000,0.172083,0.078744,0.453258,0.063448,0.153600,0.041642,0.418665,0.471333,0.349697,0.372680,0.433213,0.251276,0.326161
Economy (GDP per Capita),-0.157007,0.172083,1.000000,0.990352,0.686945,-0.540010,0.853242,0.593685,0.420398,0.471603,0.361743,0.383540,0.455898,0.318197,0.325491
Health (Life Expectancy),-0.062705,0.078744,0.990352,1.000000,0.663665,-0.541077,0.850156,0.604145,0.473051,0.500245,0.307142,0.343255,0.556989,0.416725,0.430890
Freedom,-0.433502,0.453258,0.686945,0.663665,1.000000,-0.187252,0.678680,0.445725,0.241408,0.296898,0.246317,0.258458,0.351460,0.233774,0.324395
Generosity,-0.055910,0.063448,-0.540010,-0.541077,-0.187252,1.000000,-0.388882,-0.440905,0.112708,0.087482,0.052876,0.052653,-0.016083,0.027093,0.009101
Perceptions of corruption,-0.131514,0.153600,0.853242,0.850156,0.678680,-0.388882,1.000000,0.503328,0.044370,0.027798,0.169139,0.172932,0.135130,0.122446,0.161703
Year,-0.023097,0.041642,0.593685,0.604145,0.445725,-0.440905,0.503328,1.000000,0.124008,0.090536,0.020936,0.018361,-0.032289,0.044344,0.066871
Trained teachers in upper secondary education (% of total teachers),-0.418926,0.418665,0.420398,0.473051,0.241408,0.112708,0.044370,0.124008,1.000000,0.981913,0.798704,0.748768,0.385210,0.383867,0.226623
"Trained teachers in upper secondary education, female (% of female teachers)",-0.475621,0.471333,0.471603,0.500245,0.296898,0.087482,0.027798,0.090536,0.981913,1.000000,0.763818,0.750860,0.476450,0.383637,0.366554
"Trained teachers in primary education, female (% of female teachers)",-0.359136,0.349697,0.361743,0.307142,0.246317,0.052876,0.169139,0.020936,0.798704,0.763818,1.000000,0.988957,0.232232,0.081509,0.153149
Trained teachers in primary education (% of total teachers),-0.381014,0.372680,0.383540,0.343255,0.258458,0.052653,0.172932,0.018361,0.748768,0.750860,0.988957,1.000000,0.261365,0.068554,0.159311
"Literacy rate, youth (ages 15-24), gender parity index (GPI)",-0.417815,0.433213,0.455898,0.556989,0.351460,-0.016083,0.135130,-0.032289,0.385210,0.476450,0.232232,0.261365,1.000000,0.620093,0.853507
"School enrollment, primary (gross), gender parity index (GPI)",-0.247963,0.251276,0.318197,0.416725,0.233774,0.027093,0.122446,0.044344,0.383867,0.383637,0.081509,0.068554,0.620093,1.000000,0.677014
"School enrollment, secondary (gross), gender parity index (GPI)",-0.327305,0.326161,0.325491,0.430890,0.324395,0.009101,0.161703,0.066871,0.226623,0.366554,0.153149,0.159311,0.853507,0.677014,1.000000

In [175]:
wedu['School enrollment, primary (gross), gender parity index (GPI)']

0       1.00075
1       0.99037
2       0.98860
3       0.99927
4       1.01199
         ...
1063        NaN
1064        NaN
1065        NaN
1066        NaN
1067        NaN
Name: School enrollment, primary (gross), gender parity index (GPI), Length: 1068, dtype: float64

In [177]:
gpi_prim = wedu[wedu.columns[:10]]
gpi_prim['Primary school enrollment, GPI'] = wedu['School enrollment, primary (gross), gender parity index (GPI)']

<ipython-input-177-cc16be11fab3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gpi_prim['Primary school enrollment, GPI'] = wedu['School enrollment, primary (gross), gender parity index (GPI)']

In [183]:
gpi_prim[gpi_prim.columns[2:]].corr()

,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,"Primary school enrollment, GPI"
Happiness Score,1.000000,0.172083,0.078744,0.453258,0.063448,0.153600,0.041642,0.251276
Economy (GDP per Capita),0.172083,1.000000,0.990352,0.686945,-0.540010,0.853242,0.593685,0.318197
Health (Life Expectancy),0.078744,0.990352,1.000000,0.663665,-0.541077,0.850156,0.604145,0.416725
Freedom,0.453258,0.686945,0.663665,1.000000,-0.187252,0.678680,0.445725,0.233774
Generosity,0.063448,-0.540010,-0.541077,-0.187252,1.000000,-0.388882,-0.440905,0.027093
Perceptions of corruption,0.153600,0.853242,0.850156,0.678680,-0.388882,1.000000,0.503328,0.122446
Year,0.041642,0.593685,0.604145,0.445725,-0.440905,0.503328,1.000000,0.044344
"Primary school enrollment, GPI",0.251276,0.318197,0.416725,0.233774,0.027093,0.122446,0.044344,1.000000